/*@import './base.css';*/

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-weight: normal;
  border: 0px dashed red;
}

:root {
  --header-height: 60px;
  --z-index-flake: 1000;
  --z-index-bentospace: 900;
  --z-index-modal: 1100;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /*body {
    display: grid;
    place-items: top;
  }*/

  body {
    min-height: 10vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    border: 0px dashed black;
  }
}